@charset "utf-8";      
.myPagination a {
	border-radius:0.25rem;
    text-decoration: none;
	border: 1px solid #AAE;
	color: #007bff;
}

.myPagination a, .myPagination span {
	border-radius:0.25rem;
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.myPagination .current {
    background: #007bff;
    color: #fff;
	border: 1px solid #AAE;
}

.myPagination .current.prev, .myPagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

