<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.medical.hospital.dao.RegistrationInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.medical.hospital.bean.RegistrationInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="medical_record_no" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="patient_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registration_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="medical_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="registration_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="see_doctor_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="depart_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="doctor_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="registration_source" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="settle_accounts_category" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="is_seen_docator" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="expense" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="refund_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, medical_record_no, patient_id, registration_category, medical_category, registration_date, 
    see_doctor_date, depart_id, doctor_id, registration_source, settle_accounts_category, 
    is_seen_docator, status, expense, refund_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.medical.hospital.bean.RegistrationInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from registration_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.medical.hospital.bean.RegistrationInfoExample" >
    delete from registration_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.medical.hospital.bean.RegistrationInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into registration_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="medicalRecordNo != null" >
        medical_record_no,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="registrationCategory != null" >
        registration_category,
      </if>
      <if test="medicalCategory != null" >
        medical_category,
      </if>
      <if test="registrationDate != null" >
        registration_date,
      </if>
      <if test="seeDoctorDate != null" >
        see_doctor_date,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="registrationSource != null" >
        registration_source,
      </if>
      <if test="settleAccountsCategory != null" >
        settle_accounts_category,
      </if>
      <if test="isSeenDocator != null" >
        is_seen_docator,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="medicalRecordNo != null" >
        #{medicalRecordNo,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="registrationCategory != null" >
        #{registrationCategory,jdbcType=CHAR},
      </if>
      <if test="medicalCategory != null" >
        #{medicalCategory,jdbcType=CHAR},
      </if>
      <if test="registrationDate != null" >
        #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="seeDoctorDate != null" >
        #{seeDoctorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="registrationSource != null" >
        #{registrationSource,jdbcType=CHAR},
      </if>
      <if test="settleAccountsCategory != null" >
        #{settleAccountsCategory,jdbcType=CHAR},
      </if>
      <if test="isSeenDocator != null" >
        #{isSeenDocator,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.medical.hospital.bean.RegistrationInfoExample" resultType="java.lang.Integer" >
    select count(*) from registration_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update registration_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.medicalRecordNo != null" >
        medical_record_no = #{record.medicalRecordNo,jdbcType=INTEGER},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationCategory != null" >
        registration_category = #{record.registrationCategory,jdbcType=CHAR},
      </if>
      <if test="record.medicalCategory != null" >
        medical_category = #{record.medicalCategory,jdbcType=CHAR},
      </if>
      <if test="record.registrationDate != null" >
        registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.seeDoctorDate != null" >
        see_doctor_date = #{record.seeDoctorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.departId != null" >
        depart_id = #{record.departId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.registrationSource != null" >
        registration_source = #{record.registrationSource,jdbcType=CHAR},
      </if>
      <if test="record.settleAccountsCategory != null" >
        settle_accounts_category = #{record.settleAccountsCategory,jdbcType=CHAR},
      </if>
      <if test="record.isSeenDocator != null" >
        is_seen_docator = #{record.isSeenDocator,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.expense != null" >
        expense = #{record.expense,jdbcType=DECIMAL},
      </if>
      <if test="record.refundAmount != null" >
        refund_amount = #{record.refundAmount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update registration_info
    set id = #{record.id,jdbcType=INTEGER},
      medical_record_no = #{record.medicalRecordNo,jdbcType=INTEGER},
      patient_id = #{record.patientId,jdbcType=VARCHAR},
      registration_category = #{record.registrationCategory,jdbcType=CHAR},
      medical_category = #{record.medicalCategory,jdbcType=CHAR},
      registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
      see_doctor_date = #{record.seeDoctorDate,jdbcType=TIMESTAMP},
      depart_id = #{record.departId,jdbcType=INTEGER},
      doctor_id = #{record.doctorId,jdbcType=INTEGER},
      registration_source = #{record.registrationSource,jdbcType=CHAR},
      settle_accounts_category = #{record.settleAccountsCategory,jdbcType=CHAR},
      is_seen_docator = #{record.isSeenDocator,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR},
      expense = #{record.expense,jdbcType=DECIMAL},
      refund_amount = #{record.refundAmount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.medical.hospital.bean.RegistrationInfo" >
    update registration_info
    <set >
      <if test="medicalRecordNo != null" >
        medical_record_no = #{medicalRecordNo,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="registrationCategory != null" >
        registration_category = #{registrationCategory,jdbcType=CHAR},
      </if>
      <if test="medicalCategory != null" >
        medical_category = #{medicalCategory,jdbcType=CHAR},
      </if>
      <if test="registrationDate != null" >
        registration_date = #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="seeDoctorDate != null" >
        see_doctor_date = #{seeDoctorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="registrationSource != null" >
        registration_source = #{registrationSource,jdbcType=CHAR},
      </if>
      <if test="settleAccountsCategory != null" >
        settle_accounts_category = #{settleAccountsCategory,jdbcType=CHAR},
      </if>
      <if test="isSeenDocator != null" >
        is_seen_docator = #{isSeenDocator,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>