<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.ssm.dao.SetSubMapper" >

  <insert id="insertForeach" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
    insert into set_sub
    ( id,set_id,response_id,entrust)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id},#{item.setId},#{item.responseId},#{item.entrust})
    </foreach>
  </insert>
















  <resultMap id="BaseResultMap" type="com.neusoft.ssm.bean.SetSub" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="set_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="response_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="entrust" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, set_id, response_id, entrust
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neusoft.ssm.bean.SetSubExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from set_sub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neusoft.ssm.bean.SetSubExample" >
    delete from set_sub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.neusoft.ssm.bean.SetSub" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into set_sub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="setId != null" >
        set_id,
      </if>
      <if test="responseId != null" >
        response_id,
      </if>
      <if test="entrust != null" >
        entrust,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="setId != null" >
        #{setId,jdbcType=INTEGER},
      </if>
      <if test="responseId != null" >
        #{responseId,jdbcType=INTEGER},
      </if>
      <if test="entrust != null" >
        #{entrust,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.ssm.bean.SetSubExample" resultType="java.lang.Integer" >
    select count(*) from set_sub
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update set_sub
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.setId != null" >
        set_id = #{record.setId,jdbcType=INTEGER},
      </if>
      <if test="record.responseId != null" >
        response_id = #{record.responseId,jdbcType=INTEGER},
      </if>
      <if test="record.entrust != null" >
        entrust = #{record.entrust,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update set_sub
    set id = #{record.id,jdbcType=INTEGER},
      set_id = #{record.setId,jdbcType=INTEGER},
      response_id = #{record.responseId,jdbcType=INTEGER},
      entrust = #{record.entrust,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.ssm.bean.SetSub" >
    update set_sub
    <set >
      <if test="setId != null" >
        set_id = #{setId,jdbcType=INTEGER},
      </if>
      <if test="responseId != null" >
        response_id = #{responseId,jdbcType=INTEGER},
      </if>
      <if test="entrust != null" >
        entrust = #{entrust,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>